/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Scada:400,700');
$base-font: "Scada", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// // Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Graphik";
//   src: font-url('FontFile.otf');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme


  // Seeedr colors
$brand-color: #F7C843;
$yellow: #EAB027;
$gray: #050505;
$grey: #F5F5F5;
$green: #5ea880;

$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
$black: black;
