// Dashboard navigation
#dashboard .dashboard-nav {
  margin: 30px 0px;
}

// modal-dashboard
#dashboard .modal-body {
  font-size: .7em;
  padding-top: 30px;
}

#dashboard .modal-dialog {
  font-family: "Open Sans";
  margin: 20% auto;
}

// Dashboard content
#dashboard .list-exhibitions {
    margin: 60px 0 100px;
}

#dashboard .list-exhibitions .btn {
  margin-left: 15px;
}

#dashboard .list-exhibitions .exhibition {
  margin-bottom: 40px;
}

// Dashboard exhibition header
#dashboard .exhibition-title h3 {
  margin: 0;
  padding: 10px 20px;
}

#dashboard .exhibition-title .fa {
  color: $gray;
}

#dashboard .exhibition-title .fa:hover {
  opacity: .6;
  cursor: pointer;
}

#dashboard .exhibition-content {
    padding: 15px 0;
}

#dashboard .exhibition-content .col-md-2 .fa {
    margin-right: 5px;
}

#dashboard .exhibition-header h2 {
  margin: 0 0 20px;
}

#dashboard .proposals-number {
  font-size: 4em;
}

// Dashboard exhibition bids

#dashboard .bid {
  margin-bottom: 18px;
  position: relative;
  padding: 20px;
  border: $gray solid 3px;
  overflow: hidden;
}

#dashboard .bid .reject {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 1.3em;
}

#dashboard .bid .reject .fa {
    color: $gray;
}

#dashboard .bid .reject .fa:hover {
    opacity: .6;
    cursor: pointer;
}

#dashboard .exhibition-bids .user p {
  margin: 0;
}

#dashboard .exhibition-bids .proposal {
  // border: 1px #cccccc dotted;
  padding: 0 10px 10px;
  margin: 20px 0;
}

#dashboard .exhibition-bids .artworks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#dashboard .exhibition-bids .cta {
  margin-top: 20px;
}

#dashboard .exhibition-bids .cta ul {
  margin: 0;
}

.exhibition-title h3{
  padding: 10px 20px 0 30px;
}

.exhibition-title i {
  right: 5px;
}

p.bid-status {
    position: absolute;
    top: -95px;
    left: -105px;
    width: 200PX;
    height: 125px;
    transform: rotate(-30deg);
    background: $gray;
    padding-top: 100px;
    font-weight: 700;
    color: $grey;
}

.bid-selected {
    background: $brand-color !important;
}

p.user-desc {
    margin-top: -70px;
    font-size: .8em;
    text-align: justify;
}
