#map {
  width: 100%;
  height: calc(100vh - 70px);
}

#index-exhibition {
  padding-right: 30px;
  height: calc(100vh - 70px);
  overflow: scroll;
}

#discover {
  font-weight: bold ;
  background-color: transparent;
  border: 2px solid white;
}

#discover:hover {
  background-color: white;
  color: black;
}
