// title
body#form h1, body#form-end h1 {
  font-size: 2em;
}

// artworks
#select-artwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#select-artwork label {
  margin: 0;
}

#select-artwork .select-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  transition: all .1s;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
}

#select-artwork .select-item:hover {
  box-shadow: 0 14px 42px 0 rgba(0,0,0,.2);
}

#select-artwork input[type="checkbox"] {
  display: none;
}

#select-artwork input[type="checkbox"]:checked + .artwork-sample:before {
  border: 5px solid $brand-color;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#select-artwork input[type="checkbox"]:checked + .artwork-sample:after {
  content: '';
  position: absolute;
  bottom: 7px;
  right: 12px;
  width: 35px;
  height: 38px;
  background-image: asset-url('tick.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

#select-artwork .select-item p {
  position: absolute;
  color: white;
  text-transform: capitalize;
  font-size: 1.2em;
}

input.btn.btn-primary-bis.btn-lg.btn-block {
    margin-bottom: 100px;
}

// Breadcrumb
div#breadcrumb-exhibition ul {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#breadcrumb-exhibition li {
  opacity: .5;
  border-bottom: 2px solid #383838;
  padding: 0 0 10px 0!important;
  margin: 0 30px;
  width: 150px;
}

#breadcrumb-exhibition li.active {
  opacity: 1;
  color: $brand-color;
  border-color: $brand-color;
}

#breadcrumb-exhibition li.validate {
  opacity: .5;
  color: $brand-color;
  border-color: $brand-color;
}

#breadcrumb-exhibition li.choose {
  border-bottom-width: 0px!important;
}

#breadcrumb-exhibition li.choose p {
  margin: 0;
  font-size: .8em;
}

// Form end
body#form-end abbr {
  display: none;
}

body#form-end input:focus, body#form-end input:active, body#form-end textarea:focus, body#form-end textarea:active {
  outline: 0!important;
  border-color: $brand-color;
  box-shadow: none;
}

body#form-end input, body#form input {
  border-width: 3px;
  border-radius: 0;
  padding: 20px;
  transition: all .3s;
  background: transparent;
}

body#form-end textarea {
  border-width: 3px;
  border-radius: 0;
  padding: 10px 20px;
  height: 120px;
  background: transparent;
}

body#form-end .exhibition_start_date {
    margin-bottom: 60px;
    margin-top: -20px;
}

body#form-end .duration-input, body#form-end .pack-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

body#form-end .duration-input input, body#form-end .pack-input input {
  display: none;
}

body#form-end .duration-input label, body#form-end .pack-input label {
  border: 3px #cccccc solid;
  text-align: center;
  width: 140px;
  padding: 10px;
  color: #cccccc;
}

body#form-end .duration-selected, body#form-end .pack-selected {
  color: $gray!important;
  border-color: $brand-color!important;
}

body#form-end .pack-input label {
  width: 200px;
}

body#form-end .pack-input label span {
  font-size: .7em;
}

body#form-end .price-preview {
    margin-bottom: 60px;
}

body#form-end .price-preview p {
  margin: 0;
}

body#form-end .price-preview .head-price {
    font-size: 1em;
}

body#form-end .price-preview #exhibition_min_price {
    font-size: 2em;
}
