#select-artwork, #select-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#select-artwork label, #select-category label {
  margin: 0;
}

#select-artwork input[type="checkbox"], #select-category input[type="checkbox"] {
  display: none;
}

#select-artwork img, #select-category img {
  margin: 5px;
  border: 5px solid transparent;
  transition: border .5s;
}

#select-artwork img:hover, #select-category img:hover {
  border-color: $brand-color;
}

#select-artwork input[type="checkbox"]:checked + img, #select-category input[type="checkbox"]:checked + img {
  border-color: $yellow;
}

#select-category label {
  position: relative;
}

#select-category label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#select-category label p {
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: 2em;
}
