.social {
  display: inline-block;
}

.wrapper.exhibition {
  // margin: -41px;
  background-color: #ffffff;
  border-top: 2px solid $gray;
}

.show-all {
  background-color: white;
  margin-top: 1px;
}

.company-title {
  background-color: white;
  margin: -86px auto 37px;
  width: 30%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $gray;
  border-radius: 5px;
}

.description-content h3 {
  text-align: center;
  margin-top: 30px;
}

.list-exhibition i {
  margin-right: 10px;
}

.user-paths.exhibition-show {
  text-align: left;
}

.col-xs-12.col-md-6.bid.pull-right {
  max-width: 366px;
}

