.social {
  display: inline-block;
}

.wrapper.exhibition {
  margin: -41px;
  background-color: #eaeaea;
}

.show-all {
  background-color: white;
  margin-top: 1px;

}

.company-title {
  background-color: white;
  margin-top: -41px;
}
