.artist-artwork {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.artist-artwork a {
  color: inFrit!important;
  text-decoration: none!important;
}

// Artist cards
.artist-card {
  border: 1px $grey solid;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  background: white;
  position: relative;
}

.artist-card img {
  margin-top: 40px;
}

.artist-card h1 {
  font-size: 1.6em;
  margin: 10px 0;
}

#fixed-card {
  // position: fixed;
}

.fa-pencil-square-o {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #9c9b9b;
  font-size: 20px;
}

// Artists information

.user-informations {
  font-size: 10px;
}

// hr artist card

hr.artist-hr {
  margin: 0.5em;
}

// artists categories
.testy {
  border: 5px solid $gray;
  background-color: $gray;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

//artists style

.testio {
  border: 5px solid $gray;
  background-color: $gray;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

// artists description

.artist-description {
  font-size: 13px;
  text-align:justify;
  padding: 21px;
  margin-top: -20px;
}























