<div class="form-group integer required exhibition_min_price">
  <label for="exhibition_min_price" class="control-label integer required">
    <abbr title="required">*</abbr>
    Min price
  </label>
  <input type="integer" class="form-control numeric integer required" name="exhibition[min_price]" id="exhibition_min_price" value="<%= value %>">
</div>


