<% content_for :body_id, "form" %>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <div id="breadcrumb-exhibition">
        <ul class="list-inline text-center">
          <li class="active">Choose Category</li>
          <li>Choose Style</li>
          <li>Choose Your Pack</li>
          <li>Finalize</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1 class="text-center padded-mini">Select your favorites categories</h1>
      <form action="<%= new_step2_exhibitions_path %>">
        <div id="select-artwork">
          <% @categories.each do |category| %>
            <% artwork_selected = category.artworks.sample %>
            <label>
              <div class="select-item">
                <input type="checkbox" name="selected_categories[]" value="<%= artwork_selected.category.id %>">
                <div class="artwork-sample">
                  <%= cl_image_tag artwork_picture(artwork_selected), width: 200, height: 200, crop: :fill %>
                </div>
                <p><%= category.name %></p>
              </div>
            </label>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-8">
            <div class="padded">
              <input type="submit" class="btn btn-primary-bis btn-lg btn-block" value="Next step">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
