<h1><%= @artwork.title %></h1>
<% if policy(@artwork).update? %>
  <%= link_to "Update", edit_artwork_path(params[:id]) %>
<% end %>
<% if policy(@artwork).destroy? %>
  <%= link_to "Delete", artwork_path(params[:id]), method: :delete, data: { confirm: "Are you sure?" } %>
  <% @artwork.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <% end %>
<% end %>
