<div class="container">
  <row class="">
    <div id="artist-show">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="artist-card">
          <% artist_picture = @user.facebook_picture_url || 'https://placehold.it/150x150' %>
          <%= image_tag artist_picture %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-9">
        <div class="artist-artwork">
          artworks
        </div>
      </div>
    </div>
  </row>
</div>
