/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

html { background: $gray }

// Body fix
body {
  margin-top: 70px!important;
}

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padded-mini {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Titles
.underline {
  display: table;
}

.underline:after {
  content: "";
  display: block;
  height: 3px;
  background: #f7c843;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $grey;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Separator
hr.separator {
  border: 1px solid $brand-color;
  width: 70%;
}

// Artist category display hack
span.artist-category {
  background: $brand-color;
  color: white;
  padding: 3px 7px;
  border-radius: 20px;
  font-size: .8em;
}

// Boostrap button hack
.btn-primary-bis {
  background: transparent;
  border: 3px solid $gray;
  color: $gray;
  border-radius: 0;
  font-weight: 700;
  transition: border .3s;
}

.btn-primary-bis:hover {
  background: transparent;
  color: $gray;
  border-color: $brand-color;
}

.btn-primary-bis:focus, .btn-primary-bis:active {
  outline: 0!important;
  box-shadow: none!important;
}
