.btn-new-small {
  display: inline-block;
  border: 3px solid $brand-color;
  font-weight: 600;
  line-height: 1.8rem;
  transition: all .2s ease;
  background-color: transparent;
  padding: 14px;
}

.btn-new-small:hover {
  border-color: $yellow;
  text-decoration: none;
}

.btn-new-small:focus {
    outline: 0;
}

.btn-new-small p {
  margin: 0;
  color: $brand-color;
  font-size: 17px;
  font-weight: 400;
}

 input.pull-right.btn-new-small {
  color: $brand-color;
 }

.btn-new-black {
  display: inline-block;
  border: 3px solid $gray;
  font-weight: 600;
  line-height: 1.8rem;
  transition: all .3s ease;
  background-color: transparent;
  padding: 14px;
  margin-right: 15px;
}

.btn-new-black:hover {
  border-color: $brand-color;
}

.btn-new-black:focus {
  outline: 0;
}
