.btn-new-small {
  display: inline-block;
  border: 2px solid $brand-color;
  font-weight: 600;
  line-height: 1.8rem;
  transition: all .2s ease;
  background-color: transparent;
  padding: 14px;
}

.btn-new-small:hover {
  box-shadow: 0 0 0 2px $brand-color;
  border: 2px solid transparent;
  text-decoration: none;
}

.btn-new-small p {
  margin: 0;
  color: $brand-color;
  font-size: 17px;
  font-weight: 400;
}

 input.pull-right.btn-new-small {
  color: $brand-color;
 }

.btn-new-black {
  display: inline-block;
  border: 2px solid black;
  font-weight: 600;
  line-height: 1.8rem;
  transition: all .2s ease;
  background-color: transparent;
  padding: 14px;
}
