// Home cards
.card {
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 20px;
}
.card .category {
  position: absolute;
  background: #f7c843;
  color: white;
  padding: 10px 10px 5px 10px;
  right: 15px;
}
.card img {
  margin: 30px 0px 10px;
}
.card .name {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 0;
}
.card .speciality {
  font-size: .8em;
  opacity: .8;
  margin-top: 2px;
}
.card hr {
  width: 20%;
  border-color: #f7c843;
  margin-bottom: 0;
}
.card .description {
  font-size: .9em;
  margin: 20px;
}
.card .btn.btn-primary {
  margin: 10px 0 30px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

// Artwork cards
.artwork-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 0 10px 20px 10px;
  border: 1px $grey solid;
  border-radius: 5px;
  background: white;
}

.artwork-card img {
  width: 233px;
}

.artwork-card .content {
  position: relative;
}

.artwork-card .description {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: .8em;
  text-align: justify;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  margin: 0;
  transition: opacity .3s ease;
}

.artwork-card:hover .description {
  opacity: 1;
}

.artwork-card .details h2 {
  font-size: 1em;
  margin: 10px 0px 0px;
}

.artwork-card.new-artwork .description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-card.new-artwork .description .fa {
  font-size: 100px;
}

// Exhibition cards
.exhibition-card {
  color: white;
  filter: grayscale(100%);
  background-size: cover !important;
  padding: 20px;
  transition: .3s all;
}

.exhibition-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

// Dashboard cards

.dashboard-card {
  color: white;
  filter: brightness(0.8);
  transition: .3s all;
}

.dashboard-card:hover {
  filter: none;
}
